$__ibm-color-palettes: (
  'ultramarine': (
    core: #3151b7,
    1: #e7e9f7,
    10: #d1d7f4,
    20: #b0bef3,
    30: #89a2f6,
    40: #648fff,
    50: #3c6df0,
    60: #3151b7,
    70: #2e3f8f,
    80: #252e6a,
    90: #20214f
  ),
  'blue': (
    core: #2d74da,
    1: #e1ebf7,
    10: #c8daf4,
    20: #a8c0f3,
    30: #79a6f6,
    40: #5392ff,
    50: #2d74da,
    60: #1f57a4,
    70: #25467a,
    80: #1d3458,
    90: #19273c
  ),
  'purple': (
    core: #c22dd5,
    1: #f7e4fb,
    10: #efcef3,
    20: #e4adea,
    30: #d68adf,
    40: #cb71d7,
    50: #c22dd5,
    60: #e4adea,
    70: #71237c,
    80: #501e58,
    90: #3b1a40
  ),
  'gray': (
    core: #777677,
    1: #eaeaea,
    10: #d8d8d8,
    20: #c0bfc0,
    30: #a6a5a6,
    40: #949394,
    50: #777677,
    60: #595859,
    70: #464646,
    80: #343334,
    90: #272727
  ),
  'cool-gray': (
    core: #6f7878,
    1: #e3ecec,
    10: #d0dada,
    20: #b8c1c1,
    30: #9fa7a7,
    40: #8c9696,
    50: #6f7878,
    60: #535a5a,
    70: #424747,
    80: #343334,
    90: #272727
  ),
  'warm-gray': (
    core: #7d7373,
    1: #efe9e9,
    10: #e2d5d5,
    20: #ccbcbc,
    30: #b4a1a1,
    40: #9e9191,
    50: #7d7373,
    60: #5f5757,
    70: #4b4545,
    80: #373232,
    90: #2a2626
  ),
  'neutral-white': (
    core: #fcfcfc,
    1: #fcfcfc,
    2: #f9f9f9,
    3: #f6f6f6,
    4: #f3f3f3
  ),
  'cool-white': (
    core: #fbfcfc,
    1: #fbfcfc,
    2: #f8fafa,
    3: #f4f7f7,
    4: #f0f4f4
  ),
  'warm-white': (
    core: #fdfcfc,
    1: #fdfcfc,
    2: #fbf8f8,
    3: #f9f6f6,
    4: #f6f3f3
  ),
  'black': (
    core: #000,
    100: #000
  ),
  'white': (
    core: #fff,
    0: #fff
  )
);